@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
body{
    font-family: 'Odibee Sans', cursive;
    background-color: lightgoldenrodyellow;
}
h1{
    text-align: center;
    font-size: 2em;
}
.emoji-face{
    background-color: #f2dd68;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 07);
    position: relative;
    float: left;
    margin:0px 20px 0px 0px;
}
.eye1{
    background-color: saddlebrown;
    height:11px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top:30px;
    left: 20px;
}
.eye2{
    background-color: saddlebrown;
    height:11px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top:30px;
    left:70px;
}
.mouth{
    background-color: saddlebrown;
    height: 34px;
    width: 70px;
    border-radius: 0 0 90px 90px;
    position: absolute;
    top: 52px;
    left: 16px;
    z-index:1;
    overflow: hidden;
}
.tongue{
    background-color: #e25d5d;
    height: 38px;
    width: 38px;
    border-radius: 40%;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index:2;
    overflow: hidden;
}
.mouth-shock{
    background-color: saddlebrown;
    height: 25px;
    width: 23px;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 40px;
}
.mouth-speechless{
    background-color: saddlebrown;
    height: 5px;
    width: 70px;
    position: absolute;
    top: 60px;
    left: 16px;
}
.wrapper{
 position: absolute;
 top: 150px;
 left: 500px;
}
#heading{
    text-align: center;
    font-size: 4em;
}
p{
    font-size: 1.5em;
}
.emoji-face:hover{
    transform: scale(1.25);
}
.write-up{
    background-color: darkgoldenrod;
    padding: 2% 10%;
    margin: 12% 20%;
    text-align: center;
    border-radius: 20px;
}